body {
    margin:0
    padding:0
    font-family: system-ui, -apple-system,
}
section{
    margin: 16px
}
.example-1 {
    background: steelblue
    width: 400px 
    height: 400pxcolor: white
    color: white
    display: grid 
    place-items:start center
}
.parent {
    width: 200px
    height: 200px

}
.child {
background: green
width: 50%
height:50 %
}
